<div class="container">

  <div class="form-group">
      <form action="">
          <label for="ck"><h2>Sign Up</h2></label>
          <div class="input-group">
              <label class="lbl" for="usr">Username : </label>
              <input type="text" id="usr" name="username" [(ngModel)]="signupObj.username">
          </div>
          <div class="input-group">
              <label class="lbl" for="usr">Name : </label>
              <input type="text" id="nm" name="name"[(ngModel)]="signupObj.name">
          </div>
          <div class="input-group">
              <label class="lbl" for="usr">Email : </label>
              <input type="email" id="eml" name="email"[(ngModel)]="signupObj.email">
          </div>
          <div class="input-group">
              <label class="lbl" for="usr">Phone : </label>
              <input type="text" id="ph" name="phone"[(ngModel)]="signupObj.phone">
          </div>
          <div class="input-group">
              <label class="lbl" for="psw">Password : </label>
              <input type="password" id="psw" name="pwd"[(ngModel)]="signupObj.password">
          </div>
          <div class="input-group">
              <label class="lbl" for="psw">Confirm Password : </label>
              <input type="password" id="cpsw" name="cpwd"[(ngModel)]="signupObj.confirmpassword">
          </div>
          <div class="input-group sign">
              <a routerLink="/login">Already have a Account Login</a>
          </div>
          <div>
              <button class="btn" routerLink="/login" (click)="onSignUp()">SignUp</button>
          </div>
      </form>
  </div>
</div>

