<div class="container">

  <div class="form-group">
      <form action="">
          <label for="ck"><h2>LogIn</h2></label>
          <div class="input-group">
              <label class="lbl" for="usr">Username : </label>
              <input type="text" id="usr" name="username"[(ngModel)]="loginObj.username">
          </div>
          <div class="input-group">
              <label class="lbl" for="psw">Password : </label>
              <input type="password" id="psw" name="password" [(ngModel)]="loginObj.password">
          </div>
          <div class="input-group sign">
              <a routerLink="/signup">Create a new Account Signup</a>
          </div>
          <div>
              <button class="btn" routerLink="/home"  (click)="onLogIn()">LogIn</button>

          </div>
      </form>
      <br>
      <div>
        <button class="btn btn-primary" routerLink="/signUp"   (click)="logout()">Logout</button>
      </div>
  </div>
</div>
